*{
  font-family: "EB Garamond", serif !important;
}

body {
    width: 25rem;
    height: 25rem;
    background-color: #faf3ea;
    color: #023020;
  }

input[type=text] {
    border: 0.1em solid black;
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    display: inline-block;
    border-radius: 0.5em;
    box-sizing: border-box;
  }
    
  #blockButton{
    border: 0.1em solid black;
    display: block;
    margin: 0.75em auto;
    padding: 0.75em 1.25em;
    background-color: #FF6961;
    border-radius: 0.75em;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor:pointer;
  }

  h1, h2{
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 12em;
  }
  
  li {
    padding: 0.5em;
    font-size:medium;
    width: 40ch;
    display: block;
    line-height: 150%;
    
  }
 
  .unblock-button{
    border: 0.1em solid black;
    background-color: #FF6961;
    border-radius: 0.25em;
    float: right;
    cursor: pointer;
  }
  
  h3,
  p {
    margin: 0;
  }